@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --verdigris: #28AFB0;
    --prusianblue: #102E4A;
}

html, body, #root {
    height: 100%;
}

.loader {
    border: 6px solid var(--prusianblue);
    border-radius: 50%;
    border-top: 6px solid var(--verdigris);
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg);}
    100% { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}

@media screen and (min-width: 992px) {
    #ProductsGrid > .minw-1024 {
        min-width: 1024px;
    }
}

svg.shop-icon {
    opacity: .2;
}